@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
* {
  background-color: ivory;
}
@media (max-width: 2560px) {
  header {
    display: flex;
    position: relative;
    justify-content: center;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  main {
    display: flex;
    position: relative;
    height: 100vh;
    width: auto;
  }
  .title {
    display: flex;
    position: absolute;
    font-size: 55px;
    color: black;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: underline 2px solid black;
  }

  #signIn {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    top: 15vh;
  }

  #visitorSign {
    width: 500px;
    height: 480px;
    flex-direction: column;
    left: 6vw;
    display: flex;
    position: relative;
    border: solid 1px black;
    gap: 5px;
    background-color: white;
  }

  .formh1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-decoration: underline solid 1px black;
    background-color: white;
  }

  label {
    font-size: 20px;
    background-color: white;
  }

  input {
    padding: 10px;
    background-color: white;
  }

  textarea {
    padding: 30px;
    background-color: white;
  }

  button {
    height: 40px;
    background-color: lightgray;
  }

  #leftMessages {
    display: flex;
    position: absolute;
    left: 60vw;
    justify-content: flex-end;
    flex-direction: column-reverse;
    font-size: 20px;
    width: 450px;
    height: 450px;
    gap: 10px;
    border: solid 1px black;
    overflow: scroll;
    background-color: white;
    top: 35px;
  }
  #message-container {
    display: flex;
    position: absolute;
    left: 60vw;
    width: 450px;
    justify-content: center;
  }

  .guestmsg {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  #inputMessages {
    background-color: white;
    color: black;
  }

  .copyright {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
  }
}

/* FOR PHONES */

@media (max-width: 450px) {
  header {
    display: flex;
    position: relative;
    justify-content: center;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  main {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .title {
    display: flex;
    position: absolute;
    font-size: 25px;
  }

  #signIn {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    top: 10vh;
  }

  #visitorSign {
    width: 280px;
    height: 350px;
    flex-direction: column;
    font-size: 20px;
  }

  label {
    font-size: 15px;
  }

  input {
    padding: 5px;
  }

  textarea {
    padding: 15px;
  }

  #message-container {
    display: flex;
    position: absolute;
    left: 1px;
    width: 300px;
    justify-content: center;
    top: 50vh;
  }

  #leftMessages {
    display: flex;
    position: absolute;
    left: 10px;
    justify-content: flex-end;
    flex-direction: column-reverse;
    font-size: 20px;
    top: 55vh;
    width: 300px;
    max-height: 250px;
    gap: 10px;
    border: solid 1px black;
    overflow: scroll;
    scroll-behavior: smooth;
    background-color: white;
  }

  #inputMessages {
    background-color: white;
    color: black;
  }

  .copyright {
    font-size: 10px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
  }
}
